/* TEST */

body{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: Belleza;
    background-color: rgb(240, 230, 175);
}

#main-header{
    /*height deleted*/
    display: inline;

}
.logo{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right: 10px;
    display: inline;
}

#header-name {
    font-size: 40px;
    color: green;
    padding: 15px;
    margin: 0px 0px 0px 0px;
    display: inline;
}

#main-image{
    width: 700px;
    height: 250px;
    float: left;
}

#side-image {
    width: 300px;
    height: 250px;
    float: right;
}

#welcome {
    width: 700px;
    float: left;
    font-size: 12px;
    margin: 20px 0px 20px 0px;
}

#search{
    display: inline;
}


footer{
    width: 100%;
    background-color: chocolate;
    margin: 20px 0px 20px 0px;
    padding: 5px 0px 0px 0px;
    border-radius: 5px;
}



